@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    /* margin-left: 140px;
    margin-right: 140px; */
    max-width: 1600px;
}

.banner-content {
    margin-left: 140px;
    margin-right: 140px;
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-bottom: 0;
    border-radius: 16px;
    /* max-width:1280px; */
    background: #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 177px;

}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    /* font-size: 72px; */
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

.section-one {
    margin-left: 140px;
    margin-right: 140px;
    padding-left: 160px;
    padding-right: 160px;
    width: 800px;
    margin-top: 120px;
    /* max-width:1280px;
 */
}


.heading-section {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
    /* margin-left: 140px;
    margin-right: 140px; */
}

.para-section {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 105px;
}

.h3-section {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.img-section {}

.section-two {
    margin-left: 140px;
    margin-right: 140px;
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    display: flex;
    margin-top: 120px;
    height: 600px;
    /* max-width:1280px; */
    background-color: black;

}

.section-two-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    padding-left: 126px;
    padding-top: 126px;
}

.section-two-para {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding-left: 126px;

}

.section-two-btn {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 158px;

}

.section-two-img {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    vertical-align: middle;
}

.section-three {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 120px;
    max-width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background-color: rgba(252, 230, 230, 0.922)
        /* fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */
}

.section-three-address {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 100px;

}

.section-three-btn {

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 8px;
    padding-bottom: 164px;
}

.a {
    color: #F00
}

.section-four {
    width: 1329px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 120px;
    display: flex;
}

.section-four-h6 {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-four-h5 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.section-four-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.section-four-img {}

.section-four-2024 {
    color: #F00;
    font-family: inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-4-img {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 463px;
}

.section5 {
    /* max-width: 1280px; */
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 120px;
    /* background-image: url('../resources/Rectangle\ 2.png');
    background-position: bottom;
    */
}

.s5h6 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding-right: 529px;
    margin-top: 0;
}

.s5h2 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-right: 322px;
    padding-top: 10px;
}

.sale {
    color: #070211;
}

.s5p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}

.s6 {
    /* max-width: 1280px; */
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 120px;
}

.s6h6 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.s6h4 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.s6p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.img-row1 {
    display: flex;

}

.img-row2 {
    display: flex;

}

.s7 {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1280px;
    height: 616px;
    flex-shrink: 0;
}

.s7img {
    text-align: center;
    padding-top: 80px;
}

.s7h3 {
    text-align: center;
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.s7p {
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.s7btn {
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    /* width: 648px;
    height: 72px; */
    /* flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    padding-left: 336px; */
}

#Subscribe {
    /* padding-left: 336px; */
    /* width: 648px;
    height: 72px; */
}

 /* footer style  */
.footer {
    width: 1560px;
    height: 609px;
    margin-top: 120px;
    background: #070211;
}
.footer-section1 {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    padding-top: 120px;
    padding-left: 140px;
    gap: 604px;
}
.hr {
    /* padding-left: 140px;
    padding-right: 140px; */
    width: 1320px;
    background: rgba(255, 255, 255, 0.15);
    color: #FFFFFF26;
}
.footer-img {
    padding-top: 50px;
    display: flex;
    text-align: center;
    padding-left: 640px;
    gap: 24px;
    height: 120px;
}
.footer-section-3 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    padding-left: 140px;
    gap: 840px;

}